/*-----------------------*/
/* Basic setup */
/*-----------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/*-----------------------*/
/* Reusable components */
/*-----------------------*/

section{
    margin-top: 80px;
}

.btn{
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #e67e22;
    border-radius: 200px;
    margin-right: 10px;
    text-decoration: none;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}

/* This is an 'a' link */
.showmore{
    float: right;
    text-decoration: none;
    display: inline-block;
}

.showmore:link,
.showmore:visited{
    transition: color 0.2s, border-bottom 0.2s;
}

.showmore:hover,
.showmore:active{
    color: #e67e22;
}

/*-----------------------*/
/* Header */
/*-----------------------*/

header.index{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header-cover.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

header img{
    float: left;
    margin-top: 20px;
    width: 120px;
    height: auto;
}

header .logo-black{
    display: none;
}

.main-nav{
    list-style-type: none;
    float: right;
}

.main-nav li{
    display: inline-block;
    margin-top: 60px;
}

.main-nav li a{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 240%;
    word-spacing: 4px;
    font-weight: 300;
    letter-spacing: 1px;
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    content: " ";
    background-color: #e67e22;
    height: 2px;
    width: 100px;
    margin: 30px auto;
}

h3{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 105%;
    margin-bottom: 15px;
    text-align: center;
}

h4{
    font-size: 90%;
    font-weight: 300;
    text-transform: uppercase;
}

h5{
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 300;
}

/*-----------------------*/
/* Sticky header */
/*-----------------------*/

.sticky{
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li{
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #000;
}

.sticky .main-nav li a{
    padding-bottom: 15px;
}

.sticky .logo-white{
    display: none;
}

.sticky .logo-black{
    display: block;
    width: 50px;
    margin: 5px 0;
}

/*-----------------------*/
/* Section why us */
/*-----------------------*/

.section-why-us{
    margin-bottom: 80px;    
}

.icon-big{
    display: block;
    text-align: center;
    color: #e67e22;
    font-size: 300%
}

.section-why-us p{
    font-size: 90%;
}

/*-----------------------*/
/* Section daily deals */
/*-----------------------*/

.section-daily-deals{
    margin-top: 0;
    padding-top: 80px;
    background-color: #f4f4f4;
    padding-bottom: 80px;
}

.section-daily-deals .col,
.section-chef-rmd .col,
.section-beef-menu .col,
.section-pork-menu .col,
.section-chicken-menu .col,
.section-seafoods-menu .col
{
    background-color: #fff;
    box-shadow: 2px 2px 5px #c6c5c5;
}

.deal-img,
.rmd-img{
    overflow: hidden;
    background-color: #000;
}

.beef-img,
.pork-img,
.chicken-img,
.seafoods-img{
    width: 100%;
    overflow: hidden;
}

.beef-img img,
.pork-img img,
.chicken-img img,
.seafoods-img, img{
    width: 100%;
}

.section-daily-deals .col img,
.section-chef-rmd .col img{
    opacity: 0.8;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.section-daily-deals .col img:hover,
.section-chef-rmd .col img:hover{
    opacity: 1;
    transform: scale(1.04);
}

.btn-deal{
    float: right;
}

.deal-price-ori-price{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.deal-price{
    font-size: 150%;
    color: #e67e22;
}

.ori-price{
    text-decoration: line-through;
    font-size: 80%;
}

.price-order-btn{
    height: 55px;
}

/*-----------------------*/
/* Section Chef's recommendations */
/*-----------------------*/

.section-chef-rmd{
    margin-bottom: 80px;
}

/*-----------------------*/
/* Section testimonials */
/*-----------------------*/

.section-testimonials{
    padding-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/testimonials-cover.jpg);
    background-size: cover;
    background-position: center;
}

.section-testimonials{
    color: #fff;
    padding-bottom: 80px;
}

blockquote{
    font-style: italic;
    position: relative;
    margin-top: 40px;
    line-height: 145%;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    height: 60px;
    position: absolute;
    left: -10px;
    top: -15px;
}

cite{
    margin-top: 20px;
    display: block;
}

cite img{
    height: 50px;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
}

/*-----------------------*/
/* Section how to reach us */
/*-----------------------*/

.section-reach-us{
       
}

.section-reach-us h3:after{
    margin: 15px auto;
    content: " ";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
}

.deliver{
    padding-top: 20px; 
    clear: both;
}

.hours-left{
    float: left;
}

.hours-right{
    float: right;
}

.contact-us{
    padding-top: 20px;
}

.apps{
    padding-top: 20px;
}

.btn-app{
    display: inline-block;
    width: 49.5%;
    text-align: center;
}
.btn-app img{
    width: 200px;
    height: auto;
}

.apple{
    
}

/*-----------------------*/
/* Section comments */
/*-----------------------*/

.section-comments{
    padding-bottom: 80px;
}

input[type="text"], 
input[type="email"], 
input[type="tel"],
select, 
textarea{
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
}

textarea{
    height: 100px;
}

input[type="submit"]{
    background-color: #e67e22;
}

/*-----------------------*/
/* Footer */
/*-----------------------*/

footer{
    background-color: #333;
    padding: 50px 0;
}

.footer-links{
    list-style-type: none;
    float: left;
}

.footer-links li{
    display: inline-block;
}

.footer-links li a, 
.footer-links li a{
    transition: color 0.2s;
}

.footer-links li a:link, 
.footer-links li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    margin-right: 15px;
    color: #888;
} 

.footer-links li a:hover, 
.footer-links li a:active{
    color: #fff;
}

.social-links{
    list-style-type: none;
    float: right;
}

.social-links li{
    display: inline-block;
    font-size: 120%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #00aced;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-instagram:hover{
    color: #517fa4;
}

footer .row p{
    color: #888;
    text-align: center;
}

/*-----------------------*/
/* Animations */
/*-----------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4-1,
.js--wp-4-2{
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4-1.animated,
.js--wp-4-2.animated{
    opacity: 1;
}

/*-----------------------*/
/* Shopping cart section */
/*-----------------------*/


#show-cart{
    width: 100%;
    height: auto;
    margin: 0 auto;    
}

#show-cart th{
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 5px;
}

#show-cart tr{
    text-align: center;
    height: 40px;
}

#show-cart tr input{
    width: 50px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

#show-cart .btn{
    padding: 4px 10px;
    border-radius: 50%;
}

.ordered{
    opacity: 0;
    padding-left: 10px;
    text-align: center;
    color: red;
    margin-bottom: 5px;
}

.section-daily-deals h3{
    margin-bottom: 5px;
}

.cart-info input{
    width: 250px;
}

.cart-info span{
    text-transform: uppercase;
}

.cart-info .col:last-child{
    height: 40px;
    float:right;
    text-align: right;
    text-transform: uppercase;
    padding: 15px;
}

.count-cart{
    float: left;
}

.cart-btns{
    margin-top: 5px;
}

.section-shopping-cart .row:last-child{
    margin-bottom: 10px;
}


.grey-btn:link,
.grey-btn:visited{
    padding: 5px 11px;
    border: 1px solid #000;
    color: #000;
    border-radius: 50%;
    margin-right: 3px;
}

.grey-btn:hover,
.grey-btn:active{
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
}

#place-order-btn{
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #afafaf;
    color: #afafaf;
    text-transform: uppercase;
}

#place-order-btn:hover{
    border: 1px solid #000;
    color: #000;
}

.has-error{
	color: red;	
}

/*-----------------------*/
/* Menu sections */
/*-----------------------*/
.section-beef-menu{ 
    margin-top: 20px;
}

.section-pork-deals,
.section-seafoods-deals,
.section-beef-menu,
.section-chicken-menu{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f4f4f4;   
}

.section-seafoods-menu{
    padding-bottom: 80px;
}

.section-pork-menu .col:nth-child(5n),
.section-seafoods-menu .col:nth-child(5n){
    margin-left: 0;
}

/*-----------------------*/
/* Menu title section */
/*-----------------------*/

.section-titles{
    list-style-type: none;
}

.section-titles li{
    display: inline-block;
}

.section-titles li a:link,
.section-titles li a:visited,
.cart-btns a:link,
.cart-btns a:visited,
.redeem-btn:link,
.redeem-btn:visited
{
    text-decoration: none;
    color: #afafaf;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid #afafaf;
    transition: color 0.2s, border 0.2s;
}



.section-titles li a:hover,
.section-titles li a:active,
.cart-btns a:hover,
.cart-btns a:active,
.redeem-btn:hover,
.redeem-btn:active{
    color: #000;
    border: 1px solid #000;
}

#title-beef{
    color: #000;
    border: 1px solid #000;
}

/*-----------------------*/
/* Menu title section */
/*-----------------------*/

.sticky-up{
    position: fixed;
    opacity: 0;
    top: 71%;
    right: 15px;
    background-color: #ccc;
    transition: opacity 0.5s;
}

.sticky-up a:link,
.sticky-up a:visited{
    font-size: 300%;
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.sticky-call-us{
    position: fixed;
    top: 48%;
    left: -135px;
    width: 230px;
    height: 50px;
    font-size: 18px;
    background-color: #e67e22;
    transition: left 0.5s;
    border-radius: 10px;
}

.sticky-call-us:hover{
    left: 0;
}

.sticky-call-us a{
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    color: #fff;
    font-weight: 400;
}

.ion-ios-telephone{
    display: inline-block;
    margin-left: 10px;
    font-size: 150%;
}

/*-----------------------*/
/* Order success section */
/*-----------------------*/

.order-success{
	margin-top: -50px;
    color: #000;
    font-size: 150%;
}

.order-success-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
